<div fxLayout="column" class="loginForm">

    <mat-error *ngIf="!validLogin">
        username or password is incorrect
    </mat-error>
    <form [formGroup]="loginForm" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center">
        <mat-form-field fxLayoutGap="10px">
            <mat-label>Username</mat-label>
            <input matInput placeholder="username" formControlName="username" required>
            <mat-error
                *ngIf="loginForm.get('username').invalid && (loginForm.get('username').dirty || loginForm.get('username').touched)">
                This is required field</mat-error>
        </mat-form-field>

        <mat-form-field fxLayoutGap="10px">
            <mat-label>Password</mat-label>
            <input matInput placeholder="password" formControlName="password" required>
            <mat-error
                *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                This is required field</mat-error>
        </mat-form-field>
        <div fxLayout="row" fxLayoutGap="10px">
            <button class='raiser-button' mat-raised-button color="primary" (click)='onSubmit()'
                [disabled]='loginForm.invalid'> login</button>
            <button class='raiser-button' mat-stroked-button color="accent" matTooltip="Clear" (click)='ClearLogin()'>
                Clear</button>
        </div>

    </form>

</div>